body{
  margin-left: 50px;
  margin-right: 50px;
}
.logo{ 
  margin-top: 40px;
  font-size: 40pt;
  font-style: italic;
  color: black;
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  margin-left: 30px;
 }
.{
  text-align: justify;
  text-indent:50px;
}
.textopag2{
  width: 900px;
  height: 320px;
}
h1 {
    text-align: center;
}